/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

/* BODY */
body {
  background: linear-gradient(135deg, #4da3ff, #2c7be5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* CONTEÚDO */
body > *:not(footer) {
  width: 100%;
  max-width: 350px;
}

/* TÍTULO */
h1 {
  text-align: center;
  margin-bottom: 20px;
  color: white;
}

/* INPUT */
input {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 10px;
  border: none;
  font-size: 14px;
}

/* BOTÃO */
#acessar {
  width: 100%;
  padding: 12px;
  background: white;
  color: #2c7be5;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}

#acessar:hover {
  opacity: 0.9;
}

#salvar {
  width: 100%;
  padding: 12px;
  background: white;
  color: #2c7be5;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}

#salvar:hover {
  opacity: 0.9;
}

/* LINK */
a {
  display: block;
  text-align: center;
  margin-top: 12px;
  font-size: 13px;
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* FOOTER MAIS ESCURO */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  background: #1e40af; /* azul mais escuro */
  color: white;
  font-size: 12px;
}